<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle" fxFlexAlign="center">
  <ul class="carousel-inner" #carousel [style.width.px]="width">
    <li *ngFor="let item of items;" class="carousel-item" [style.width.px]="width">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
</section>
<div *ngIf="showControls" style="margin-top: 1em">
  <button (click)="showNext()" class="btn btn-default">Next</button>
  <button (click)="showPrev()" class="btn btn-default">Prev</button>
</div>
