<div class="topnav" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
  <div fxLayout="column" fxLayoutAlign="center">
    <img class="raiden-logo" src="../assets/favicon.png" />
  </div>
  <div fxLayout="column" fxFlex="1 1 auto"></div>
  <div fxLayout="column" fxLayoutAlign="center">
    <a
      href="https://raiden-network.readthedocs.io/en/stable/"
      target="_blank"
      class="navigation-link"
    >
      Documentation
    </a>
  </div>
  <div fxLayout="column" fxLayoutAlign="center">
    <a href="https://github.com/raiden-network" target="_blank" class="navigation-link">
      Github
    </a>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<div class="footer" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="15px" fxFlex="960px" fxFlex.lt-md="100%">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="end"
      ngClass.xs="mobile"
      fxFlexAlign.xs="start"
      fxLayoutGap.xs="20px"
    >
      <div class="contactlist" fxLayout="column" fxFlex.lt-sm="33%" fxFlex="180px">
        <div fxLayout="row" class="heading">DEVELOPMENT</div>
        <div fxLayout="row">
          <a href="http://www.github.com/raiden-network/raiden/?fref=ts">Raiden Network Github</a>
        </div>
        <div fxLayout="row">
          <a href="http://raiden-network.readthedocs.io/en/stable/">Raiden Network Docs</a>
        </div>
        <div fxLayout="row">
          <a href="https://github.com/raiden-network/microraiden">µRaiden Github</a>
        </div>
        <div fxLayout="row"><a href="http://microraiden.readthedocs.io">µRaiden Docs</a></div>
        <div fxLayout="row"><a href="https://demo.micro.raiden.network">µRaiden Demos</a></div>
      </div>
      <div class="sociallist" fxLayout="column" fxFlex.lt-sm="33%" fxFlex="180px">
        <div fxLayout="row" class="heading" style="">COMMUNITY</div>
        <div fxLayout="row" style="padding-top: 15px;">
          <a rel="noopener noreferrer" href="https://twitter.com/raiden_network" target="_blank">
            <div class="inline-block" style="display: inline-block;">
              <div class="table-cell" style="padding-right: 1rem; display: table-cell;">
                <img src="../assets/social/twitter.svg" style="height: 15px;" />
              </div>
              <div class="table-cell" style="display: table-cell;">Twitter</div>
            </div>
          </a>
        </div>

        <div fxLayout="row" style="padding-top: 15px;">
          <a
            rel="noopener noreferrer"
            href="https://www.reddit.com/r/raidennetwork/"
            target="_blank"
          >
            <div class="inline-block" style="display: inline-block;">
              <div class="table-cell" style="padding-right: 1rem; display: table-cell;">
                <img src="../assets/social/reddit.svg" style="height: 15px; " />
              </div>
              <div class="table-cell" style="display: table-cell;">Reddit</div>
            </div>
          </a>
        </div>

        <div fxLayout="row" style="padding-top: 15px;">
          <a
            rel="noopener noreferrer"
            href="https://www.youtube.com/channel/UCoUP_hnjUddEvbxmtNCcApg"
            target="_blank"
          >
            <div class="inline-block" style="display: inline-block;">
              <div class="table-cell" style="padding-right: 1rem; display: table-cell;">
                <img src="../assets/social/tv.svg" style="height: 15px;" />
              </div>
              <div class="table-cell" style="display: table-cell;">Youtube</div>
            </div>
          </a>
        </div>

        <div fxLayout="row" style="padding-top: 15px;">
          <a
            rel="noopener noreferrer"
            href="https://gitter.im/raiden-network/raiden"
            target="_blank"
          >
            <div class="inline-block" style="display: inline-block;">
              <div class="table-cell" style="padding-right: 1rem; display: table-cell;">
                <img src="../assets/social/message-circle.svg" style="height: 15px; " />
              </div>
              <div class="table-cell" style="display: table-cell;">Dev Chat</div>
            </div>
          </a>
        </div>
      </div>
      <div class="contactlist" fxLayout="column" fxFlex.lt-sm="33%" fxFlex="180px">
        <div fxLayout="row" class="heading">ORGANIZATION</div>
        <div fxLayout="row">
          <a target="_blank" href="https://angel.co/brainbot-group/jobs">We're hiring!</a>
        </div>
        <div fxLayout="row">
          <a rel="noopener noreferrer" href="https://token.raiden.network/privacy.html">
            Imprint &amp; Privacy Policy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
