<div class="topnav" #topnav>
  <div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <img class="raiden-logo" src="../assets/logo.svg" />
    <div fxLayout="column" fxFlex="1 1 auto"></div>
    <div fxLayout="row" fxLayoutGap="45px" *ngIf="!isMobile(); else toggle_menu_button">
      <a href="https://developer.raiden.network/" target="_blank" class="navigation-link">
        Developer →
      </a>
      <a href="https://github.com/raiden-network/raiden/" target="_blank" class="navigation-link">
        Github →
      </a>
      <a
        href="https://raiden-network.readthedocs.io/en/stable/"
        target="_blank"
        class="navigation-link"
      >
        Docs →
      </a>
    </div>
    <ng-template #toggle_menu_button>
      <button
        class="menu-button"
        [class.menu-opened]="menuOpen"
        type="button"
        aria-label="Toggle navigation menu"
        mat-icon-button
        (click)="menuOpen = !menuOpen"
      >
        <mat-icon [style.stroke]="menuOpen ? '#FFFFFF' : '#2EC7E5'" svgIcon="burger"></mat-icon>
      </button>
    </ng-template>
  </div>

  <div
    [@flyInOut]="'in'"
    class="mobile-menu"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="40px"
    *ngIf="menuOpen"
  >
    <a href="https://developer.raiden.network/" target="_blank" class="navigation-link">
      Developer →
    </a>
    <a href="https://github.com/raiden-network/raiden/" target="_blank" class="navigation-link">
      Github →
    </a>
    <a
      href="https://raiden-network.readthedocs.io/en/stable/"
      target="_blank"
      class="navigation-link"
    >
      Docs →
    </a>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="section-underline"></div>
<div class="section-footer">
  <div
    ngClass="footer-inner wrapper"
    ngClass.xs="mobile-footer-inner wrapper"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between start"
    fxLayoutAlign.xs="space-around center"
  >
    <div ngClass="footer" ngClass.xs="mobile-footer">
      <strong class="bold-footer">Development<br /></strong
      ><a href="https://github.com/raiden-network/raiden/" target="_blank" class="footer-link"
        >Raiden Network Github<br /></a
      ><a
        href="https://raiden-network.readthedocs.io/en/stable/"
        target="_blank"
        class="footer-link"
        >Raiden Network Docs<br /></a
      ><a
        href="https://explorer.raiden.network/tokens/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
        target="_blank"
        class="footer-link"
        >Raiden Explorer</a
      >
    </div>
    <div ngClass="footer" ngClass.xs="mobile-footer">
      <strong class="bold-footer">Community<br /></strong
      ><a href="https://twitter.com/raiden_network" target="_blank" class="footer-link"
        >Twitter<br /></a
      ><a href="https://medium.com/raiden-network" target="_blank" class="footer-link"
        >Medium<br /></a
      ><a href="https://www.reddit.com/r/raidennetwork/" target="_blank" class="footer-link"
        >Reddit<br /></a
      ><a
        href="https://www.youtube.com/channel/UCoUP_hnjUddEvbxmtNCcApg"
        target="_blank"
        class="footer-link"
        >Youtube</a
      ><br /><a href="https://gitter.im/raiden-network/raiden" target="_blank" class="footer-link"
        >Dev chat</a
      ><br />
    </div>
    <div ngClass="footer" ngClass.xs="mobile-footer">
      <strong class="bold-footer">Organization<br /></strong
      ><a href="https://raiden.network" target="_blank" class="footer-link">Raiden Network<br /></a
      ><a href="https://angel.co/brainbot-group/jobs" target="_blank" class="footer-link"
        ><strong>‍</strong>We're hiring!<br /></a
      ><a href="https://raiden.network/privacy.html" target="_blank" class="footer-link"
        >Privacy Policy <br />&amp; Legal&nbsp;Imprint</a
      >
    </div>
  </div>
</div>
