body {
  margin: 0;
  padding: 0;
}

.topnav {
  height: 56px;
  width: 100%;
  background: linear-gradient(90deg, #323232 0%, #000000 100%);
  position: absolute;
  z-index: 1;
}

.mobile-menu {
  padding: 20px 0;
  width: 100%;
  background: linear-gradient(90deg, #323232 0%, #000000 100%);
  z-index: -1;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
}

a:hover {
  color: #8c8c8c;
}

.raiden-logo {
  height: 31px;
}

.navigation-link {
  float: right;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
}

.section-footer {
  width: 100%;
  background-color: #1e1e1e;
}

.footer-inner {
  padding-bottom: 90px;
}

.mobile-footer-inner {
  padding: 15px 60px 60px 60px;
}

.footer {
  text-align: left;
  margin-top: 70px;
  line-height: 28px;
  font-size: 18px;
}

.mobile-footer {
  margin-top: 15px;
  line-height: 28px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  font-size: 18px;
}

.bold-footer {
  color: #00c7e8;
  font-weight: 700;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 56px;
  min-width: 0;
  border-radius: 0;
}

.menu-opened {
  background-color: #2ec7e5;
}
