version: '3'

services:
  frontend:
    build:
      context: ./frontend
      args:
        backend_url: https://explorer.raiden.network/json
        poll_interval: 10000
        etherscan_base_url: https://etherscan.io/address/
        network_name: Mainnet
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:explorer.raiden.network"

  backend:
    build:
      context: ./backend
    restart: always
    environment:
      - EXPLORER_ETH_RPC=http://geth.mainnet.ethnodes.brainbot.com:8545
      - EXPLORER_CONFIRMATIONS=5
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:explorer.raiden.network; Path: /json"

  frontend-ropsten:
    build:
      context: ./frontend
      args:
        backend_url: https://ropsten.explorer.raiden.network/json
        poll_interval: 10000
        etherscan_base_url: https://ropsten.etherscan.io/address/
        echo_node_address: "0x02f4b6BC65561A792836212Ebc54434Db0Ab759a"
        network_name: Ropsten
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:ropsten.explorer.raiden.network"

  backend-ropsten:
    build:
      context: ./backend
    restart: always
    environment:
      - EXPLORER_ETH_RPC=http://geth.ropsten.ethnodes.brainbot.com:8545
      - EXPLORER_USE_PRODUCTION_CONTRACTS=false
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:ropsten.explorer.raiden.network; Path: /json"

  frontend-rinkeby:
    build:
      context: ./frontend
      args:
        backend_url: https://rinkeby.explorer.raiden.network/json
        poll_interval: 10000
        etherscan_base_url: https://rinkeby.etherscan.io/address/
        network_name: Rinkeby
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:rinkeby.explorer.raiden.network"

  backend-rinkeby:
    build:
      context: ./backend
    restart: always
    environment:
      - EXPLORER_ETH_RPC=http://geth.rinkeby.ethnodes.brainbot.com:8545
      - EXPLORER_USE_PRODUCTION_CONTRACTS=false
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:rinkeby.explorer.raiden.network; Path: /json"

  frontend-rinkeby-limits:
    build:
      context: ./frontend
      args:
        backend_url: https://rinkeby-limits.explorer.raiden.network/json
        poll_interval: 10000
        etherscan_base_url: https://rinkeby.etherscan.io/address/
        network_name: Rinkeby
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:rinkeby-limits.explorer.raiden.network"

  backend-rinkeby-limits:
    build:
      context: ./backend
    restart: always
    environment:
      - EXPLORER_ETH_RPC=http://geth.rinkeby.ethnodes.brainbot.com:8545
      - EXPLORER_USE_PRODUCTION_CONTRACTS=true
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:rinkeby-limits.explorer.raiden.network; Path: /json"

  frontend-goerli:
    build:
      context: ./frontend
      args:
        backend_url: https://goerli.explorer.raiden.network/json
        poll_interval: 10000
        etherscan_base_url: https://goerli.etherscan.io/address/
        network_name: Goerli
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:goerli.explorer.raiden.network"

  backend-goerli:
    build:
      context: ./backend
    restart: always
    environment:
      - EXPLORER_ETH_RPC=http://parity.goerli.ethnodes.brainbot.com:8545
      - EXPLORER_USE_PRODUCTION_CONTRACTS=false
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:goerli.explorer.raiden.network; Path: /json"

  traefik:
    image: traefik:1.7
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./config/traefik:/etc/traefik
      - ./data/traefik:/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - backend
      - backend-ropsten
      - backend-rinkeby
      - backend-rinkeby-limits
      - frontend
      - frontend-ropsten
      - frontend-rinkeby
      - frontend-rinkeby-limits
