version: '3'

services:
  frontend:
    image: frontend
    build: ./frontend
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:explorer.raiden.network"
      - "traefik.port=3000"

  backend:
    image: backend
    build: ./backend
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:explorer.raiden.network; Path: /json"
      - "traefik.port=4567"

  traefik:
    image: traefik:1.7
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./config/traefik:/etc/traefik
      - ./data/traefik:/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - backend
      - frontend
