.element-suggestion {
  height: 70px;
}

.blocky > * {
  display: block;
  line-height: 20px !important;
  font-size: 14px;
}

.medium {
  font-weight: 500;
}

.switch-text {
  color: #676767;
}

.channels-toggle {
  margin-top: 1rem;
}

.graph {
  margin-bottom: 75px;
}

.network-section {
  border: 1px solid #d3d3d3;
}

.warning {
  position: absolute;
  width: 100%;
  padding: 0 40px;
  text-align: center;
}

.mat-stroked-button {
  height: 40px;
  color: #00c7e8;
  border-radius: 29px;
  font-weight: 700;
  font-size: 18px;
}
