.element-suggestion {
  height: 70px;
}

.blocky > * {
  display: block;
  line-height: 20px !important;
  font-size: 14px;
}

.medium {
  font-weight: 500;
}

.switch-text {
  color: #676767;
}

.channels-toggle {
  margin-top: 1rem;
}

.graph {
  margin-bottom: 75px;
}
