.element-suggestion {
  height: 70px;
}

.blocky > * {
  display: block;
  line-height: 20px !important;
  font-size: 14px;
}

.medium {
  font-weight: 500;
}

.address {
  font-family: 'Roboto Mono', sans-serif;
}

.switch {
  margin-top: 1.2rem;
}
