@import '~src/style/variables';

.clickable-address.dark {
  color: #676767;
}

.clickable-address.dark:hover {
  color: #515151;
}

.expandable-icon {
  height: 1rem;
  width: 1rem;
}

.table-header {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.table-content {
  padding-bottom: 1rem;
  min-height: 250px;
}

.table-number {
  text-align: end;
}

.group-title {
  color: #676767;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.content {
  padding-right: $content-padding;
  padding-left: $content-padding;
}

@media only screen and (max-width: 768px) {
  .content {
    padding-right: $content-padding-mobile;
    padding-left: $content-padding-mobile;
  }
}

.small-text {
  font-size: 0.75rem;
}

.bold {
  font-weight: 600;
}

.darker-box-background {
  background-color: #fafafa;
}

.empty-text {
  height: 90%;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: 400;
}

.titles {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.small-text {
  font-size: 0.8rem;
}

.list-item {
  height: $table-row-height;
}

.item-wrapper {
  width: 100%;
}
