.channels {
  background-color: #f5f5f5;
  position: absolute;
  /* make it dynamically adjust on the position of the svg */
  right: 30px;
  width: 300px;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}

.title {
  font-size: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

.node {
  text-align: center;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
}

.channels-list {
  overflow-y: scroll;
}

.channels-header {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #424242;
}
