body {
  margin: 0;
  padding: 0;
  background-color: black !important;
}

.topnav {
  background-color: black;
  overflow: auto;
  padding: 2px 0;
  border-bottom: 1px solid white;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 400;
  color: #f2f2f2;

}

.topnav a.raiden-link {
  font-size: 22px;
  text-align: center;
  float: left;
  display: inline-block;
}

.topnav a:hover {
  color: #BABABA;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.topnav img {
  max-height: 36px;
  padding: 8px 8px 8px 8px;
  float: left;
}

.raiden-logo {
  min-width: 23px;
}

.navigation-link {
  float: right;
  font-size: 16px;
  padding-top: 1.0%;
}
