<div class="topnav">
  {{setTitle("Raiden Network Metrics")}}
  <img class="raiden-logo" src="../assets/logo_white.png">
  <a href="http://raiden.network/" target="_blank" class="raiden-link" id="top">
    {{title}}
  </a>
  <a href="https://github.com/raiden-network" target="_blank" class="navigation-link">
    Github
  </a>
  <a href="https://raiden-network.readthedocs.io/en/stable/" target="_blank" class="navigation-link">
    Documentation
  </a>
</div>
<div>
  <router-outlet></router-outlet>
</div>

