<div class="topnav" id="topNav">
  {{setTitle("Raiden Network Metrics")}}
  <img src="../assets/logo_white.png">
  <a href="http://raiden.network/" target="_blank" id="top">
    {{title}}
  </a>
  <a href="https://github.com/raiden-network" target="_blank" style="float: right; font-size: 16px; padding-top: 1.0%">
    Github
  </a>
  <a href="https://raiden-network.readthedocs.io/en/stable/" target="_blank" style="float: right; font-size: 16px; padding-top: 1.0%">
    Documentation
  </a>
</div>
<div>
  <router-outlet></router-outlet>
</div>

