.totals {
  background-color: black;
  height: 600px;
  color: white;
}

.totals-logo {
  height: 50px;
}

.totals-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.totals-subtitle {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.totals-bar {
  margin-top: 100px;
}
