.warning-div {
  background: #ff7f00;
  color: #ffffff;
  margin: auto;
  padding: 5% 10%;
  border-radius: 0.2rem;
}

.warning-div p {
  text-align: left;
}

.warning-wrapper {
  max-width: 1090px;
  margin: 0 auto;
}

.horizontal-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.loading-container {
  height: 70vh;
}
