

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 2px;
}

.active-view {
  background-color: #1960A6 !important;
}

.warning-div {
  background: #ff7f00;
  margin: auto;
  padding: 1rem 8rem;
  border-radius: 0.2rem;
}

.warning-div p {
  text-align: left;
}

.network-metrics {
  margin-top: 2.5rem;
}

.category-title {
  font-size: 15px;
}

.statistics-section {
  height: 100%;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.metric-description {
  font-size: 1.1rem;
  font-weight: 500;
  color: #bdbdbd;
  text-align: center;
}

.metric-information {
  font-size: 1.8rem;
  font-weight: 400;
}

.carousel-button {
  color: white;
  border: transparent;
  background: transparent;
  outline: none;
}

.scroll-up {
  height: auto;
  padding: 1rem;
}

.scroll-up .black {
  color: black;
}

.scroll-up .white {
  color: white;
}

.network-section {
  margin-top: 3rem;
  height: 100vh;
}

.graph-subtitle {
  font-size: 17px;
  text-align: center;
}

.graph-title {
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}

.refresh-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  width: 200px;
  font-size: 14px;
  padding: 7px;
}

.warning-wrapper {
  padding-top: 3em;
}

.statistics-header {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.horizontal-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.loading-container {
  height: 70vh;
}

#network-graph {
  margin-top: 3rem;
}

.dotstyle ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dotstyle li {
  position: relative;
  display: block;

  /* Individual styles and effects */
  margin: 11px 0;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  text-indent: -999em; /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}

.dotstyle.dotstyle-white li a {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.dotstyle.dotstyle-black li a {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.dotstyle li a:focus {
  outline: none;
}

/* Fill in */

.dotstyle-fillin li a {
  background-color: transparent;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.dotstyle-fillin.dotstyle-white li a {
  box-shadow: inset 0 0 0 2px white;
}

.dotstyle-fillin.dotstyle-black li a {
  box-shadow: inset 0 0 0 2px black;
}

.dotstyle-fillin.dotstyle-white li a:hover,
.dotstyle-fillin.dotstyle-white li a:focus {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6)
}

.dotstyle-fillin.dotstyle-black li a:hover,
.dotstyle-fillin.dotstyle-black li a:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.6)
}

.dotstyle-fillin.dotstyle-white li.current a {
  box-shadow: inset 0 0 0 8px white;
}

.dotstyle-fillin.dotstyle-black li.current a {
  box-shadow: inset 0 0 0 8px black;
}

.blocky {
  display: block;
}

.blocky :nth-child(2) {
  margin-left: 5px;
}

.network-suggestion {
  line-height: 20px !important;
  height: 68px !important;
}

.active-networks {
  font-size: 22px;
  text-align: center;
  margin-top: 2rem;
}

