.warning-div {
  background: #ff7f00;
  margin: auto;
  padding: 1rem 8rem;
  border-radius: 0.2rem;
}

.warning-div p {
  text-align: left;
}

.warning-wrapper {
  padding-top: 3em;
}

.horizontal-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.loading-container {
  height: 70vh;
}
