<section class="statistics-section">
  <div fxLayout="row" fxLayoutAlign="center">
    <div [@flyInOut]="'in'" fxLayout="column" fxLayoutAlign="center center" class="statistics-header">
      <div fxLayout="row" class="metrics-title">Raiden Explorer</div>

      <div fxLayout="row" class="metrics-subtitle">
        Metrics for the Raiden <span class="testnet-label" *ngIf="!main">testnet</span> network
      </div>
    </div>
  </div>

  <div class="loading-container"
       fxLayout="row"
       fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="(metrics$ | async) as metrics; else error">
    <div class="metrics-totals" [@flyInOut]="'in'" fxLayout="column">
      <div fxLayout="row"
           fxLayoutAlign="center"
           fxLayoutGap.gt-sm="30px"
           class="network-totals"
           ngClass.xs="horizontal-padding">

        <div fxLayout="column" *ngIf="metrics.totalTokenNetworks > 1">
          <div fxLayout="row" fxLayoutGap="0.8em">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="4em">
              <img src="../../../assets/networks_icon.png">
            </div>
            <div fxLayout="column" fxFlexAlign="space-evenly">
              <div fxLayout="row"
                   fxFlexAlign="center"
                   class="metric-information">{{metrics.totalTokenNetworks}}
              </div>
              <div fxLayout="row"
                   fxFlexAlign="center"
                   class="metric-description">Token Networks
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="0.8em">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="4em">
              <img src="../../../assets/channels_icon.png">
            </div>
            <div fxLayout="column" fxFlexAlign="space-evenly">
              <div fxLayout="row"
                   fxFlexAlign="center"
                   class="metric-information">{{metrics.openChannels}}
              </div>
              <div fxLayout="row"
                   fxFlexAlign="center"
                   class="metric-description">Open Channels
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="0.8em">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="4em">
              <img src="../../../assets/users_icon.png">
            </div>
            <div fxLayout="column" fxFlexAlign="space-evenly">
              <div fxLayout="row"
                   fxFlexAlign="center"
                   class="metric-information">{{metrics.uniqueUsers}}
              </div>
              <div fxLayout="row"
                   fxFlexAlign="center"
                   class="metric-description">Unique Users
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="information-buttons"
           fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutAlign="center"
           fxFlexAlign.lt-md="center"
           [ngStyle.xs]="{'padding': '0 16px'}"
           fxLayoutGap="0.3rem">
        <div fxLayout="column"
             fxLayout.lt-md="row"
             fxFlex="0 0 200px"
             fxFlex.lt-md="0 0 auto">
          <a mat-stroked-button
             color="primary"
             [ngStyle.lt-md]="{'width': '100%'}"
             href="http://raiden-network.readthedocs.io/en/stable/webui_tutorial.html#tokens"
             target="_blank"
             matTooltip="Learn how to register a token">
            Token registration tutorial
          </a>
        </div>
        <div fxLayout="column"
             fxLayout.lt-md="row"
             fxFlex="0 0 200px"
             fxFlex.lt-md="0 0 auto">
          <a mat-stroked-button
             color="primary"
             [ngStyle.lt-md]="{'width': '380px'}"
             matTooltip="Learn how to open a channel"
             href="http://raiden-network.readthedocs.io/en/stable/webui_tutorial.html#channels"
             target="_blank">
            Channel creation tutorial
          </a>
        </div>
        <div fxLayout="column"
             fxLayout.lt-md="row"
             fxFlex="0 0 200px"
             fxFlex.lt-md="0 0 auto">
          <a mat-stroked-button
             color="primary"
             [ngStyle.lt-md]="{'width': '100%'}"
             matTooltip="Get started with the Raiden Network"
             href="http://raiden.network/"
             target="_blank">
            Learn more about Raiden
          </a>
        </div>
        <div fxLayout="column"
             fxLayout.lt-md="row"
             fxFlex="0 0 200px"
             fxFlex.lt-md="0 0 auto">
          <a mat-stroked-button
             matTooltip="Interactive visualization of the Raiden Network"
             color="primary"
             [ngStyle.lt-md]="{'width': '100%'}"
             (click)="scrollToA('network-graph')">
            Show Network Visualization
          </a>
        </div>
      </div>
    </div>

    <div class="network-metrics" fxLayout="row" [@flyInOut]="'in'" fxLayoutAlign="center">
      <div fxLayout="column" *ngIf="metrics.totalTokenNetworks > 1" fxFlex="0 0 2rem" fxFlexAlign="center">
        <button (click)="carousel.showPrev()" class="carousel-button">
          <img src="../../../assets/baseline-navigate_before-24px.svg">
        </button>
      </div>

      <carousel #carousel
                [showControls]="false"
                [slides]="metrics.tokenNetworks.length"
                fxLayout="column"
                fxFlex.gt-sm="0 0 960px"
                fxFlex.lt-sm="1 1 auto"
                fxFlexAlign="center">
        <ng-container *ngFor="let tokenNetwork of getVisible(metrics.tokenNetworks, carousel.current); trackBy: trackByFn">
          <ng-container *carouselItem>
            <app-network-information [style.width.px]="carousel.width"
              class="item"
              [tokenNetwork]="tokenNetwork">
            </app-network-information>
          </ng-container>
        </ng-container>
      </carousel>
      <div fxLayout="column" *ngIf="metrics.totalTokenNetworks > 1" fxFlex="0 0 2rem" fxFlexAlign="center">
        <button (click)="carousel.showNext()" class="carousel-button">
          <img src="../../../assets/baseline-navigate_next-24px.svg">
        </button>
      </div>
    </div>

  </div>

  <ng-template #error>
    <div class="warning-wrapper" [@flyInOut]="'in'">
      <div class="warning-div" fxLayout="column" fxFlex="0 0 60"
           *ngIf="(messages$ | async) as message">
        <h2 fxLayout="row">{{message.title}}</h2>
        <p fxLayout="row">{{message.description}}</p>
      </div>
    </div>
  </ng-template>

  <div class="scroll-up" align="center">
    <a mat-stroked-button (click)="scrollToA('top')" class="white">
      Go to top
    </a>

  </div>

</section>

<section class="networkpage graph-container">
  <div align="center" *ngIf="(metrics$ | async) as metrics">
    <div fxLayout="row"
         fxLayoutAlign="center"
         class="graph-title">Network Visualization
    </div>
    <a fxLayout="row"
       fxLayoutAlign="center"
       matTooltip="Mouse hover over nodes shows the node ID"
       class="graph-subtitle">
      A visualization of the current state of the Raiden network
    </a>

    <app-network-graph
      id="network-graph"
      fxLayout="row"
      fxLayoutAlign="center"
      [data]="metrics.networkGraph"></app-network-graph>
  </div>
</section>

<footer>
  <div class="networkpage scroll-up" align="center">
    <a mat-stroked-button (click)="scrollToA('top')" class="black">
      Go to top
    </a>
  </div>
</footer>
