<div class="statistics-section"> <!-- container -->
  <div [@flyInOut]="'in'">
    <div class="metrics-title">Raiden Test Network Metrics</div>

    <div class="metrics-subtitle">Metrics for the Raiden testnet release</div>
  </div>


  <div *ngIf="(metrics$ | async) as metrics; else error">
    <div class="abstractinfodisp" [@flyInOut]="'in'">

      <div class="item-row">
        <div class="item-column">
          <img src="../../../assets/networks_icon.png">
        </div>

        <div *ngIf="metrics.totalTokenNetworks > 1" class="item-column">
          <div class="item-row metric-information">{{metrics.totalTokenNetworks}}</div>
          <div class="item-row metric-description">Token Networks</div>
        </div>

        <div class="item-column">
          <img src="../../../assets/channels_icon.png">
        </div>

        <div class="item-column">
          <div class="item-row metric-information">{{metrics.openChannels}}</div>
          <div class="item-row metric-description">Open Channels</div>
        </div>

        <div class="item-column">
          <img src="../../../assets/users_icon.png">
        </div>

        <div class="item-column">
          <div class="item-row metric-information">{{metrics.uniqueUsers}}</div>
          <div class="item-row metric-description">Unique Users</div>
        </div>
      </div>

      <div class="item-row">
        <div class="item-column">
          <a href="http://raiden-network.readthedocs.io/en/stable/webui_tutorial.html#tokens" class="link-button">
            Token registration tutorial
            <span class="tooltiptext">Learn how to register a token</span></a>
        </div>
        <div class="item-row">
          <a href="http://raiden-network.readthedocs.io/en/stable/webui_tutorial.html#channels" class="link-button">
            Channel creation tutorial
            <span class="tooltiptext">Learn how to open a channel</span>
          </a>
        </div>
        <div class="item-row">
          <a href="http://raiden.network/" class="link-button">
            Get Started
            <span class="tooltiptext">Get started with the Raiden Network</span>
          </a>
        </div>
        <div class="item-row">
          <a (click)="scrollToA('netVis')" class="link-button">
            Visualize
            <span class="tooltiptext">Interactive visualization of the Raiden Network</span>
          </a>
        </div>
      </div>

    </div>

    <div class="network-metrics item-row" [@flyInOut]="'in'">
      <div class="item-column" *ngIf="metrics.totalTokenNetworks > 1">
        <button (click)="carousel.showPrev()" class="carousel-button">
          <img src="../../../assets/baseline-navigate_before-24px.svg">
        </button>
      </div>

      <carousel #carousel [showControls]="false">
        <ng-container *ngFor="let tokenNetwork of metrics.tokenNetworks; trackBy: trackByFn">
          <ng-container *carouselItem>
            <app-network-information class="item" [tokenNetwork]="tokenNetwork">
            </app-network-information>
          </ng-container>
        </ng-container>
      </carousel>
      <div class="item-column"*ngIf="metrics.totalTokenNetworks > 1">
        <button (click)="carousel.showNext()" class="carousel-button">
          <img src="../../../assets/baseline-navigate_next-24px.svg">
        </button>
      </div>
    </div>

  </div>

  <ng-template #error>
    <div class="warning-wrapper" [@flyInOut]="'in'">
      <div class="warning-div" *ngIf="(messages$ | async) as message">
        <h2>{{message.title}}</h2>
        <p>{{message.description}}</p>
      </div>
    </div>
  </ng-template>

</div> <!-- container -->

<div class="networkpage graph-container" align="center" *ngIf="(metrics$ | async) as metrics">
  <div class="graph-title">Network Visualization</div>
  <a class="graph-subtitle">
    A visualization of the current state of the Raiden network
    <span class="tooltip">The graph below is draggable and zoomable. Mouse hover over nodes shows the node ID</span>
  </a>

  <app-network-graph [data]="metrics.networkGraph"></app-network-graph>
</div>

<!-- <pre style="color: red;">{{ restructuredData | json: 2 }}</pre> -->
<footer>
  <div class="networkpage scroll-up" align="center">
    <p style="padding: 2%">
      <a (click)="scrollToA('top')" class="scroll-up-link">
        Go to top
      </a>
    </p>
  </div>
</footer>
