.metrics-title {
  color: white;
  text-align: center;
  overflow: auto;
  font-weight: 500;
  padding: 2.75% 0 0;
}

.metrics-subtitle {
  color: white;
  overflow: auto;
  font-weight: 400;
  padding: 0.5% 0 0;
  text-align: center;
}

.abstractinfodisp {
  background-color: black;
  overflow: auto;
  padding: 2.5% 0 0;
  color: white;
}

.abstractinfodisp img {
  float: inherit;
  height: 70px;
  padding-right: 0;
}

.abstractinfodisp a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 100;
  display: inline-block;
  float: top;
}

.abstractinfodisp .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation-delay: inherit;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

.abstractinfodisp a:hover .tooltiptext {
  visibility: visible;
  background-color: dimgray;
  opacity: inherit;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation-delay: inherit;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 2px;
}

.networkpage {
  background-color: white;
  height: 100vh;
  padding-top: 2.75%;
}

.networkpage a {
  color: black;
}

.networkpage .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation-delay: inherit;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

.networkpage a:hover .tooltip {
  visibility: visible;
  background-color: dimgray;
  opacity: inherit;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation-delay: inherit;
}

.active-view {
  background-color: #1960A6 !important;
}

.warning-div {
  background: #ff7f00;
  width: 60%;
  margin: auto;
  padding: 1rem 8rem;
  border-radius: 0.5rem;
}

.warning-div p {
  text-align: left;
}

.network-metrics {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.category-title {
  font-size: 15px;
}

.statistics-section {
  height: 100%;
  min-height: 100vh;
}

.link-button {
  border: 1px solid #2191FB;
  border-radius: 6px;
  color: #2191FB !important;
  width: 200px;
  font-size: 14px !important;
  padding: 7px;
}

.metric-description {
  font-size: 1.1em;
  font-weight: 500;
  color: #bdbdbd;
}

.metric-information {
  font-size: 1.8em;
  font-weight: 400;
}

.carousel-button {
  height: 100%;
  color: white;
  border: transparent;
  background: transparent;
  outline: none;
}

.scroll-up {
  background-color: white;
  height: auto;
}

.scroll-up-link {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  width: 200px;
  font-size: 14px;
  padding: 7px;
}

.metrics-title {
  font-size: 35px;
  font-weight: 100;
  text-underline: none;
  border: none;
}

.graph-container {
  height: 85vh;
  width: 100vw;
}

.graph-subtitle {
  font-size: 17px;
}

.graph-title {
  font-size: 35px;
  font-weight: 100;
}

.refresh-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  width: 200px;
  font-size: 14px;
  padding: 7px;
}

.warning-wrapper {
  padding-top: 3em;
}
