.metrics-title {
  color: white;
  text-align: center;
  overflow: auto;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 4rem;
}

.metrics-subtitle {
  margin-top: 1rem;
  color: white;
  overflow: auto;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0.5% 0 0;
  text-align: center;
}

.metrics-totals img {
  float: inherit;
  height: 4em;
  padding-right: 0;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 2px;
}

.networkpage {
  background-color: white;
  height: 100vh;
  padding-top: 2.75%;
}

.networkpage a {
  color: black;
}

.active-view {
  background-color: #1960A6 !important;
}

.warning-div {
  background: #ff7f00;
  margin: auto;
  padding: 1rem 8rem;
  border-radius: 0.2rem;
}

.warning-div p {
  text-align: left;
}

.network-metrics {
  margin-top: 2.5rem;
}

.category-title {
  font-size: 15px;
}

.statistics-section {
  height: 100%;
  min-height: 100vh;
}

.metric-description {
  font-size: 1.1rem;
  font-weight: 500;
  color: #bdbdbd;
  text-align: center;
}

.metric-information {
  font-size: 1.8rem;
  font-weight: 400;
}

.carousel-button {
  height: 100%;
  color: white;
  border: transparent;
  background: transparent;
  outline: none;
}

.scroll-up {
  height: auto;
  padding: 1rem;
}

.scroll-up .black {
  color: black;
}

.scroll-up .white {
  color: white;
}

.graph-container {
  height: 100vh;
}

.graph-subtitle {
  font-size: 17px;
}

.graph-title {
  font-size: 35px;
  font-weight: 100;
}

.refresh-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  width: 200px;
  font-size: 14px;
  padding: 7px;
}

.warning-wrapper {
  padding-top: 3em;
}

.statistics-header {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.network-totals {
  margin-top: 2.5rem;
  color: white;
}

.information-buttons {
  margin-top: 3rem;
}

.horizontal-padding {
  padding-left: 8px;
  padding-right: 8px;
}


@media screen and (max-width: 480px){
  .metrics-totals img {
    float: inherit;
    height: 3em;
    padding-right: 0;
  }

  .metric-description {
    font-size: 0.8rem;
    font-weight: 500;
    color: #bdbdbd;
  }

  .metric-information {
    font-size: 1.4rem;
    font-weight: 400;
  }

}
