<div fxFlex.lt-md="1 1 100%" class="elevated">
  <div class="header-gradient"></div>
  <div fxLayout="row" class="header content" fxLayoutAlign="start center">
    <div fxLayout="column">
      <div class="cyan title space">
        <span *ngIf="tokenNetwork.token.symbol">[{{tokenNetwork.token.symbol}}]</span>
        <span class="truncate" *ngIf="tokenNetwork.token.name">{{tokenNetwork.token.name}}</span>
      </div>
      <a href="{{etherscanUrl(tokenNetwork.token.address)}}"
         target="_blank"
         class="truncate clickable-address token-address">{{tokenNetwork.token.address}}</a>
    </div>
  </div>

  <div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxFlex="1 1 50">
        <app-channels-overview [tokenNetwork]="tokenNetwork"></app-channels-overview>
      </div>

      <div fxLayout="column" fxFlex="1 1 50">
        <app-network-averages [tokenNetwork]="tokenNetwork"></app-network-averages>
      </div>
    </div>

    <div fxLayout="row">
      <div fxLayout="column" fxFlex="1 1 50">
        <app-total-channels-by-deposit
          [tokenNetwork]="tokenNetwork"
          [isExpanded]="channelsByDepositExpanded"
          (expandedChanged)="channelsExpanded($event)"></app-total-channels-by-deposit>
      </div>

      <div fxLayout="column" fxFlex="1 1 50">
        <app-top-participants-by-channel
          [tokenNetwork]="tokenNetwork"
          [isExpanded]="topParticipantsByChannelExpanded"
          (expandedChanged)="participantsExpanded($event)"
        ></app-top-participants-by-channel>
      </div>
    </div>
  </div>


</div>
