<div fxFlex.lt-md="1 1 100%">
  <div class="information-container token-info" fxLayout="row">
    <div class="title text-center" fxLayout="column">
      <span *ngIf="tokenNetwork.token.symbol">[{{tokenNetwork.token.symbol}}]</span>
      <span class="truncate" *ngIf="tokenNetwork.token.name">{{tokenNetwork.token.name}}</span>
      <a href="{{etherscanUrl(tokenNetwork.token.address)}}"
         target="_blank"
         class="truncate clickable-address">{{tokenNetwork.token.address}}</a>
    </div>
  </div>

  <div class="information-container"
       fxLayout="row"
       fxLayout.lt-md="column"
       fxLayoutGap="8px">
    <div class="information-column"
         fxLayout="column"
         fxLayout.lt-md="row"
         fxLayoutGap="8px"
         fxLayoutGap.lt-md="8px"
         fxLayout.lt-md="row"
         fxFlex="0 0 405px"
         fxFlex.lt-md="0 0 225px">
      <div class="information-group first" fxFlex.lt-md="1 1 auto" fxFlex="0 0 225px">
        <div class="title">Channel Overview</div>
        <div fxLayout="row" fxLayoutGap="2em">
          <div fxLayout="column">
            <app-donut-chart [data]="chart(tokenNetwork)"></app-donut-chart>
          </div>
          <div fxLayout="column">
            <div fxLayout="row" class="metric-information">{{tokenNetwork.openedChannels}}</div>
            <div fxLayout="row" class="metric-description">Open Channels</div>
            <div fxLayout="row" class="metric-information">{{tokenNetwork.closedChannels}}</div>
            <div fxLayout="row" class="metric-description">Closed Channels</div>
            <div fxLayout="row" class="metric-information">{{tokenNetwork.settledChannels}}</div>
            <div fxLayout="row" class="metric-description">Settled Channels</div>
          </div>
        </div>
      </div>

      <div class="information-group second" fxShow.lt-md="false" fxFlex="0 0 280px">
        <div class="title">Top Channels By Deposit</div>

        <div fxLayout="column"
             fxLayoutGap="0.4em"
             *ngIf="tokenNetwork.topChannelsByDeposit.length > 0; else no_channels">
          <div fxLayout="row" class="table-title">
            <div fxLayout="column" fxFlex="auto">PARTICIPANTS</div>
            <div fxLayout="column" fxFlexAlign="right">DEPOSIT</div>
          </div>

          <div fxLayout="row"
               *ngFor="let channel of tokenNetwork.topChannelsByDeposit; trackBy: trackByFn" fxLayoutGap="8px">
            <div fxFlex="1 1 auto"
                 class="truncate address small"
                 fxLayout="column">
              <a href="{{etherscanUrl(channel.participant1)}}"
                 target="_blank"
                 class="clickable-address">{{channel.participant1}}</a>
              <a href="{{etherscanUrl(channel.participant2)}}"
                 target="_blank"
                 class="clickable-address">{{channel.participant2}}</a>
            </div>
            <div class="table-number"
                 fxFlex="0 0 4em"
                 fxFlexAlign="center"
                 fxLayout="column">{{channel.deposit1 + channel.deposit2 | number}}
            </div>
          </div>
        </div>

        <ng-template #no_channels>
          <div class="empty-text" fxLayoutAlign="center center">
            No channels found for this network.
          </div>
        </ng-template>
      </div>
    </div>
    <div class="information-column"
         fxLayout="column"
         fxLayout.lt-md="row"
         fxLayoutGap="8px"
         fxLayoutGap.lt-md="0px"
         fxLayout.lt-md="row"
         fxFlex="0 0 405px"
         fxFlex.lt-md="0 0 225px">
      <div class="information-group first" fxFlex.lt-md="1 1 auto" fxFlex="0 0 225px">
        <div class="title">Network Averages</div>
        <div fxLayout="row" class="metric-information">{{tokenNetwork.averageDepositPerParticipant | number}}</div>
        <div fxLayout="row" class="metric-description">Avg. deposit per participant</div>
        <div fxLayout="row" class="metric-information">{{tokenNetwork.channelsPerParticipant | number}}</div>
        <div fxLayout="row" class="metric-description">Avg. number of channels per participant</div>
        <div fxLayout="row" class="metric-information">{{tokenNetwork.averageDepositPerChannel | number}}</div>
        <div fxLayout="row" class="metric-description">Avg. deposit per channel</div>
      </div>

      <div class="information-group second" fxShow.lt-md="false" fxFlex="0 0 280px">
        <div class="title">Top Participants By Channels</div>
        <div fxLayout="column"
             fxLayoutGap="0.4em"
             *ngIf="tokenNetwork.topParticipantsByChannels.length > 0; else no_participants">
          <div fxLayout="row" class="table-title">
            <div fxLayout="column" fxFlex="a">PARTICIPANT</div>
            <div fxLayout="column" fxFlexAlign="right">CHANNELS</div>
          </div>

          <div fxLayout="row"
               *ngFor="let participant of tokenNetwork.topParticipantsByChannels;trackBy: trackByParticipant">
            <div class="truncate address small"
                 fxLayout="column"
                 fxFlex="1 1 auto">
              <a href="{{etherscanUrl(participant.address)}}"
                 target="_blank"
                 class="clickable-address">{{participant.address}}</a>
            </div>
            <div class="table-number"
                 fxLayout="column"
                 fxFlex="0 0 4em"
                 fxFlexAlign="center right">{{participant.channels}}
            </div>
          </div>
        </div>

        <ng-template #no_participants>

          <div class="empty-text" fxLayoutAlign="center center">
            No participants for this network
          </div>

        </ng-template>
      </div>
    </div>
  </div>

</div>
