:host {
  color: #676767;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.space :nth-child(2) {
  margin-left: 0.25rem;
}

.token-address {
  font-size: 0.75rem;
}

.clickable-address {
  color: #06ccf4;
  text-decoration: none;
}

.clickable-address:hover {
  color: #00d4ff;
}

.token-symbol {
  font-size: 0.9rem;
}

.cyan {
  color: #06ccf4;
}

.header {
  height: 90px;
}

.content {
  padding-right: 30px;
  padding-left: 30px;
}

.header-column {
  max-width: 100%;
}
