<div fxFlex.lt-md="1 1 100%" class="elevated">
  <div class="header-gradient"></div>
  <div fxLayout="row" class="header content" fxLayoutAlign="start center">
    <div fxLayout="column">
      <div class="cyan title space truncate">
        <span *ngIf="tokenNetwork.token.symbol">[{{tokenNetwork.token.symbol}}]</span>
        <span *ngIf="tokenNetwork.token.name">{{tokenNetwork.token.name}}</span>
      </div>
      <a href="{{etherscanUrl(tokenNetwork.token.address)}}"
         target="_blank"
         class="truncate clickable-address token-address">{{tokenNetwork.token.address}}</a>
    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column" fxFlex="1 1 50" class="content titles">
      <div class="group-title">Channel Overview</div>
    </div>
    <div fxLayout="column" fxFlex="1 1 50" class="content titles">
      <div class="group-title">Network Averages</div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxFlex="1 1 50">
      <div fxLayout="row" class="content darker-box-background statistics">
        <div fxLayout="column" fxFlex="1 1 45" fxLayoutAlign="center">
          <app-donut-chart [data]="chart(tokenNetwork)"></app-donut-chart>
        </div>
        <div fxLayout="column" fxLayoutGap="0.3rem" fxFlex="1 1 55" fxLayoutAlign="center">
          <div fxLayout="row" class="space" fxLayoutAlign="start center">
            <span class="bold">{{tokenNetwork.openedChannels}}</span>
            <span>Open Channels</span>
          </div>
          <div fxLayout="row" class="space" fxLayoutAlign="start center">
            <span class="bold">{{tokenNetwork.closedChannels}}</span>
            <span>Closed Channels</span>
          </div>
          <div fxLayout="row" class="space" fxLayoutAlign="start center">
            <span class="bold">{{tokenNetwork.settledChannels}}</span>
            <span>Settled Channels</span>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxFlex="1 1 50">
      <div fxLayout="row" class="content statistics">
        <div fxLayout="column" fxFlex="1 1 50" fxLayoutAlign="center" fxLayoutGap="0.35rem">

          <div fxLayout="row">
            <div fxLayout="column">
              <div fxLayout="row" class="bold space">
                <span>{{tokenNetwork.averageDepositPerParticipant | smallNumber}}</span>
                <span>{{tokenNetwork.token.symbol}}</span>
              </div>
              <div fxLayout="row">Avg. deposit per participant</div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column">
              <div fxLayout="row" class="bold">{{tokenNetwork.channelsPerParticipant | number}}</div>
              <div fxLayout="row">Avg. number of channels</div>
              <div fxLayout="row">per participant</div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column">
              <div fxLayout="row" class="bold space">
                <span>{{tokenNetwork.averageDepositPerChannel | smallNumber}}</span>
                <span>{{tokenNetwork.token.symbol}}</span>
              </div>
              <div fxLayout="row">Avg. deposit per channel</div>
            </div>
          </div>

        </div>
        <div fxLayout="column"
             fxLayoutAlign="center center"
             fxFlex="1 1 50"
             fxLayoutGap="0.3rem"
             class="cyan totals">
          <div fxLayout="row"
               class="bold space"
               matTooltip="The total number of tokens currently deposited on the token network.">
            <span>{{tokenNetwork.totalNetworkDeposits | smallNumber}}</span>
            <span>{{tokenNetwork.token.symbol}}</span>
          </div>
          <div fxLayout="row">Total Network Deposits</div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column" fxFlex="1 1 50" class="titles content">
      <div class="group-title">Top Channels By Deposit</div>
    </div>
    <div fxLayout="column" fxFlex="1 1 50" class="titles content darker-box-background">
      <div class="group-title">Top Participants By Channels</div>
    </div>
  </div>

  <div fxLayout="row" class="content table-info">
    <mat-list *ngIf="false" fxLayout="column">
      <div fxLayout="row" class="table-title">
        <div fxLayout="column" fxFlex="auto">Participants</div>
        <div fxLayout="column" fxFlexAlign="right">Deposit</div>
      </div>
      <mat-list-item fxLayout="row"
                     *ngFor="let channel of tokenNetwork.topChannelsByDeposit; trackBy: trackByFn" fxLayoutGap="8px">
        <div fxFlex="1 1 auto"
             class="truncate address small-text"
             fxLayout="column">
          <a href="{{etherscanUrl(channel.participant1)}}"
             target="_blank"
             class="clickable-address dark">{{channel.participant1}}</a>
          <a href="{{etherscanUrl(channel.participant2)}}"
             target="_blank"
             class="clickable-address dark">{{channel.participant2}}</a>
        </div>
        <div class="table-number bold"
             fxFlex="0 0 4em"
             fxFlexAlign="center"
             fxLayout="column">{{channel.deposit1 + channel.deposit2 | smallNumber}}
        </div>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="false" fxLayout="column">
      <div fxLayout="row" class="group-title">
        <div fxLayout="column" fxFlex="1 1 auto">Participant</div>
        <div fxLayout="column" fxFlexAlign="right">Channels</div>
      </div>
      <mat-list-item
        *ngFor="let participant of tokenNetwork.topParticipantsByChannels;trackBy: trackByParticipant">
        <div class="truncate address"
             fxLayout="column"
             fxFlex="1 1 auto">
          <a href="{{etherscanUrl(participant.address)}}"
             target="_blank"
             class="clickable-address dark">{{participant.address}}</a>
        </div>
        <div class="table-number bold"
             fxLayout="column"
             fxFlex="0 0 4em"
             fxFlexAlign="center right">{{participant.channels}}
        </div>
      </mat-list-item>
    </mat-list>
  </div>

</div>
