:host {
  color: #676767;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.space :nth-child(2) {
  margin-left: 0.25rem;
}

.token-address {
  font-size: 0.75rem;
}

.clickable-address {
  color: #06ccf4;
  text-decoration: none;
}

.clickable-address:hover {
  color: #00d4ff;
}

.token-symbol {
  font-size: 0.9rem;
}

.header-gradient {
  height: 0.4rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00d4ff+0,00d4ff+100 */
  background: #00d4ff; /* Old browsers */
  background: -moz-linear-gradient(left, #00d4ff 0%, #00d4ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00d4ff 0%, #00d4ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00d4ff 0%, #00d4ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d4ff', endColorstr='#00d4ff', GradientType=1); /* IE6-9 */
}

.cyan {
  color: #06ccf4;
}

.header {
  height: 90px;
}

.content {
  padding-right: 30px;
  padding-left: 30px;
}

.header-column {
  max-width: 100%;
}
