<div
  class="information-buttons"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxFlexAlign.xs="center"
  [ngStyle.xs]="{ padding: '2rem' }"
  fxLayoutGap="30px"
>
  <div
    fxLayout="column"
    fxLayout.xs="row"
    [ngStyle.xs]="{ width: '100%' }"
    fxFlex.xs="0 0 auto"
    fxFlex="0 0 210px"
  >
    <a
      mat-flat-button
      color="primary"
      href="https://docs.raiden.network/quick-start"
      target="_blank"
      matTooltip="Get started with Raiden"
      fxLayout="column"
      fxLayoutAlign="center"
    >
      Try out Raiden
    </a>
  </div>
</div>
