<div fxLayout="row" class="titles content darker-box-background">
  <div fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center start">
    <div class="group-title">Top Participants By Channels</div>
  </div>
  <div fxLayout="column" fxFlex="1 1 40px" fxLayoutAlign="end">
    <button mat-icon-button (click)="toggleExpanded()">
      <img
        *ngIf="!isExpanded; else expanded_button"
        class="expandable-icon"
        src="../../../assets/down-arrow.svg"
      />
      <ng-template #expanded_button>
        <img class="expandable-icon" src="../../../assets/up-arrow.svg" />
      </ng-template>
    </button>
  </div>
</div>

<mat-divider *ngIf="isExpanded"></mat-divider>

<mat-list *ngIf="isExpanded" class="table-content">
  <div fxLayout="row" fxLayoutAlign="space-between" class="group-title table-header content">
    <div fxLayout="column">Participant</div>
    <div fxLayout="column">Channels</div>
  </div>
  <mat-list-item
    class="list-item"
    *ngFor="let participant of tokenNetwork.topParticipantsByChannels; trackBy: trackByParticipant"
  >
    <div class="item-wrapper" fxLayout="row" fxLayoutAlign="space-between">
      <div class="truncate small-text" fxLayoutAlign="center start" fxLayout="column">
        <a
          href="{{ etherscanUrl(participant.address) }}"
          target="_blank"
          class="clickable-address dark"
          >{{
            participant.channels > 9999999999999 || isMobile()
              ? (participant.address | shortenAddress)
              : participant.address
          }}</a
        >
      </div>
      <div class="table-number bold small-text" fxLayout="column">
        {{ participant.channels }}
      </div>
    </div>
  </mat-list-item>
</mat-list>
