@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$my-palette: (
  50: #e1f4f8,
  100: #b3e3ef,
  200: #81d1e4,
  300: #4ebed9,
  400: #28b0d0,
  500: #02a2c8,
  600: #029ac2,
  700: #0190bb,
  800: #0186b4,
  900: #0175a7,
  A100: #d1efff,
  A200: #9eddff,
  A400: #6bccff,
  A700: #52c3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$explorer-app-primary: mat-palette($my-palette);
$explorer-app-accent: mat-palette($my-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$explorer-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$explorer-app-theme: mat-dark-theme(
  $explorer-app-primary,
  $explorer-app-accent,
  $explorer-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.dark-theme {
  @include angular-material-theme($explorer-app-theme);
}

$explorer-light-app-primary: mat-palette($my-palette);
$explorer-light-app-accent: mat-palette($my-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$explorer-light-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$explorer-light-app-theme: mat-light-theme(
  $explorer-light-app-primary,
  $explorer-light-app-accent,
  $explorer-light-app-warn
);

@include angular-material-theme($explorer-light-app-theme);
