/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('assets/fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('assets/fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('assets/fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
  url('assets/fonts/roboto-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/roboto-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/roboto-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/roboto-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/roboto-mono-v5-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.clickable {
  cursor: pointer;
}

.table-title {
  color: #bdbdbd;
  font-size: 1em;
  font-weight: 500;
}

tr td {
  font-size: 0.9em;
  font-weight: 400;
}

.search-field .mat-form-field-infix {
  width: 300px;
}

.search-icon {
  padding: 0 4px;
  vertical-align: middle;
}


.search-field {
  margin-top: 20px;
}

.search-field img {
  width: 16px;
  height: 16px;
}

.network-section svg {
  border: 1px solid #D3D3D3;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.graph-tooltip {
  max-width: 100% !important;
  margin: 4px !important;
  padding: 6px;
  color: black;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.graph-tooltip div {
  min-height: 11px
}

.tooltip-label {
  font-weight: 500;
}
