<div class="information-container">
  <div class="title text-center">
    <span *ngIf="tokenNetwork.token.symbol">[{{tokenNetwork.token.symbol}}]</span>
    <span *ngIf="tokenNetwork.token.name">{{tokenNetwork.token.name}} - </span>
    {{tokenNetwork.token.address}}
  </div>
</div>

<div class="information-container">
  <div class="information-column">
    <div class="information-group first">
      <div fxLayout="row" fxLayoutGap="2em">
        <div fxLayout="column">
          <app-donut-chart [data]="chart(tokenNetwork)"></app-donut-chart>
        </div>
        <div fxLayout="column">
          <div class="metric-information">{{tokenNetwork.openedChannels}}</div>
          <div class="metric-description">Open Channels</div>
          <div class="metric-information">{{tokenNetwork.closedChannels}}</div>
          <div class="metric-description">Closed Channels</div>
          <div class="metric-information">{{tokenNetwork.settledChannels}}</div>
          <div class="metric-description">Settled Channels</div>
        </div>
      </div>
    </div>

    <div class="information-group second">
      <div class="title">TOP CHANNELS BY DEPOSIT</div>

      <div fxLayout="column"
           fxLayoutGap="0.4em"
        *ngIf="tokenNetwork.topChannelsByDeposit.length > 0; else no_channels">
        <div fxLayout="row" class="table-title">
          <div fxLayout="column" fxFlex="auto">PARTICIPANTS</div>
          <div fxLayout="column" fxFlexAlign="right">DEPOSIT</div>
        </div>

        <div fxLayout="row"
          *ngFor="let channel of tokenNetwork.topChannelsByDeposit; trackBy: trackByFn" fxLayoutGap="0.3em">
          <div
            fxFlex="1 1 auto"
            fxLayout="column">{{channel.participant1}}<br/>{{channel.participant2}}</div>
          <div
            fxFlex="0 0 4em"
            fxFlexAlign="center right"
            fxLayout="column">{{channel.deposit1 + channel.deposit2 | number}}</div>
        </div>
      </div>

      <ng-template #no_channels>
        <div class="empty-text">
          No channels found for this network.
        </div>
      </ng-template>
    </div>
  </div>
  <div class="information-column">
    <div class="information-group first">
      <div>
        <div class="metric-information">{{tokenNetwork.averageDepositPerParticipant | number}}</div>
        <div class="metric-description">Deposit per participant</div>
      </div>
      <div>
        <div class="metric-information">{{tokenNetwork.channelsPerParticipant | number}}</div>
        <div class="metric-description">Channels per participant</div>
      </div>
      <div>
        <div class="metric-information">{{tokenNetwork.averageDepositPerChannel | number}}</div>
        <div class="metric-description">Deposit per channel</div>
      </div>
    </div>

    <div class="information-group second">
      <div class="title">TOP PARTICIPANTS BY CHANNELS</div>
      <div fxLayout="column"
           fxLayoutGap="0.4em"
        *ngIf="tokenNetwork.topParticipantsByChannels.length > 0; else no_participants">
        <div fxLayout="row" class="table-title">
          <div fxLayout="column" fxFlex="a">PARTICIPANT</div>
          <div fxLayout="column" fxFlexAlign="right">CHANNELS</div>
        </div>

        <div fxLayout="row"
          *ngFor="let participant of tokenNetwork.topParticipantsByChannels;trackBy: trackByParticipant">
          <div fxLayout="column"
               fxFlex="1 1 auto">{{participant.address}}</div>
          <div fxLayout="column"
               fxFlex="0 0 4em"
               fxFlexAlign="center right">{{participant.channels}}</div>
        </div>
      </div>

      <ng-template #no_participants>

        <div class="empty-text">
          No participants for this network
        </div>

      </ng-template>
    </div>
  </div>

</div>
