.container {
  background-color: #f8f8f8;
  padding-top: 75px;
  padding-bottom: 27px;
}

.title {
  color: #2ec7e5;
  font-weight: 500;
  font-size: 30px;
  padding-top: 3rem;
}

.navigation-button {
  width: 40px;
  height: 40px;
}

.navigation-button img {
  height: 30px;
  width: 30px;
}

.network-suggestion {
  line-height: 20px !important;
  height: 68px !important;
}

.blocky {
  display: block;
}

.blocky :nth-child(2) {
  margin-left: 5px;
}

.carousel {
  padding-bottom: 3rem;
}

.hint {
  padding-bottom: 4px;
  text-align: center;
  font-size: 13px;
}

.network-information {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 1px 6px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 1px 6px 0 rgba(50, 50, 50, 0.3);
}

.mobile-margin {
  margin-left: 8px;
  margin-right: 8px;
}

.header {
  height: 0.4rem;
  background-color: #2ec7e5;
}
