<div class="container">
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    matTooltip="The networks that have at least one open channel."
    *ngIf="metrics.totalTokenNetworks > 1"
  >
    <div class="title">Networks</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="metrics.totalTokenNetworks > 1">
    <mat-form-field
      class="search-field"
      fxLayout="column"
      fxFlex="0 0 300px"
      fxFlex.lt-md="1 1 280px"
      fxFlexOffset="600px"
      fxFlexOffset.lt-md="0"
    >
      <span matPrefix class="search-icon">
        <img src="../../../assets/baseline-search-24px.svg" alt="Search" />
      </span>
      <input
        class="white-text"
        type="text"
        placeholder="Filter"
        aria-label="Filter"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <button
        mat-button
        *ngIf="searchControl.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearFilter()"
      >
        <img src="../../../assets/baseline-clear-24px.svg" alt="Clear" />
      </button>
      <mat-autocomplete
        #auto="matAutocomplete"
        autoActiveFirstOption
        (optionSelected)="networkSelected($event.option.value)"
        [displayWith]="displayFn"
      >
        <mat-option
          class="network-suggestion"
          *ngFor="let option of filteredOptions$ | async; trackBy: trackByFn"
          [value]="option"
        >
          <span class="blocky">
            <span *ngIf="option.token.symbol">[{{ option.token.symbol }}]</span>
            <span *ngIf="option.token.name">{{ option.token.name }}</span>
          </span>
          <small>{{ option.token.address }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div fxLayout="row" class="mat-hint hint" fxShow.xs fxHide fxLayoutAlign="center">
    Swipe to view a different token network
  </div>

  <div fxLayout="row" class="carousel" fxLayoutAlign="center">
    <div
      fxLayout="column"
      *ngIf="showNavigation"
      [fxShow.xs]="false"
      fxFlex="0 40px"
      fxFlexAlign="center"
    >
      <button
        class="navigation-button"
        appDebounceClick
        (debouncedClick)="previous()"
        mat-icon-button
        color="primary"
      >
        <img src="../../../assets/back.svg" alt="Previous" />
      </button>
    </div>

    <div
      [@routerTransition]="routeTrigger$ | async"
      fxLayout="column"
      fxFlex.gt-sm="0 0 933px"
      fxFlex.lt-sm="1 1 auto"
      ngClass.xs="mobile-margin"
      class="network-information"
      (swipeleft)="next()"
      (swiperight)="previous()"
    >
      <div class="header"></div>

      <div fxLayout="row">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div
      fxLayout="column"
      *ngIf="showNavigation"
      [fxShow.xs]="false"
      fxFlex="0 0 40px"
      fxFlexAlign="center"
    >
      <button
        class="navigation-button"
        appDebounceClick
        (debouncedClick)="next()"
        mat-icon-button
        color="primary"
      >
        <img src="../../../assets/next.svg" alt="Next" />
      </button>
    </div>
  </div>
</div>
