.container {
  background-color: #f8f8f8;
  min-height: 600px;
}

.title {
  color: #02c1ef;
  font-weight: 500;
  font-size: 32px;
}

.navigation-button {
  width: 70px;
  height: 70px;
}

.network-suggestion {
  line-height: 20px !important;
  height: 68px !important;
}

.blocky {
  display: block;
}

.blocky :nth-child(2) {
  margin-left: 5px;
}
