.container {
  background-color: #f8f8f8;
  min-height: 600px;
}

.title {
  color: #02c1ef;
  font-weight: 500;
  font-size: 30px;
  padding-top: 3rem;
}

.navigation-button {
  width: 40px;
  height: 40px;
}

.navigation-button img {
  height: 30px;
  width: 30px;
}

.network-suggestion {
  line-height: 20px !important;
  height: 68px !important;
}

.blocky {
  display: block;
}

.blocky :nth-child(2) {
  margin-left: 5px;
}

.carousel {
  padding-bottom: 3rem;
}

.hint {
  padding-bottom: 4px;
  text-align: center;
  font-size: 13px;
}

.network-information {
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 1px 6px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 1px 6px 0 rgba(50, 50, 50, 0.3);
}

.mobile-margin {
  margin-left: 8px;
  margin-right: 8px;
}

.header-gradient {
  height: 0.4rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00d4ff+0,00d4ff+100 */
  background: #00d4ff; /* Old browsers */
  background: -moz-linear-gradient(left, #00d4ff 0%, #00d4ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00d4ff 0%, #00d4ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #00d4ff 0%,
    #00d4ff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d4ff', endColorstr='#00d4ff', GradientType=1); /* IE6-9 */
}
